/* start styling pdf Purchase Order */
.style-pdf{
  position: absolute;
  margin-left: -200vw;
  width: 100%;
  padding: 15px 25px;
}
.logo-wrapper{
  width: 150px;
  height: 70px;
}
.logo-wrapper>img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.font-bold{
  font-weight: 700;
}
.report-date{
  margin: 30px 0;
}
.stock-id{
  margin: 30px 0;
}
.wrap-content-opname{
  height: fit-content;
}
.bulkhead{
  width: .5px;
  height: 120px;
  background-color: black;
  margin: 0 25px;
}
/* end styling pdf Purchase Order */

/* start styling notification */
.wrapper-notification{
  background-color: rgb(224, 224, 111);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.wrapper-notification > p{
  margin: 0;
  padding: 0;
}
/* end styling notification */

/* Start styling Map */
.wrapper-map{
  position: relative
}
.wrapper-map > h2 {
  position: absolute;
  z-index: 99;
  color: white;
  top: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0;
}
.selected-spot:focus{
  outline: none;
}
.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}
/* end Styling Map */

.headerPage {
  padding: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #ebedf2;
  width: 100%;
}

.headerStart {
  align-content: flex-start;
  align-self: center;
}

.headerEnd {
  align-content: flex-end;
}

.box {
  border: 1px solid #ebedf2;
  padding: 1rem;
}

.boxDashed {
  border: 2px dashed #ebedf2;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.lineBottom {
  border-bottom: 1px solid #ebedf2;
}

.filterSection {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 400;
}
